.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 20px;
}

body {
  background-color: rgb(46, 46, 46);
  font-family: 'Consolas';
  color: rgb(219, 219, 219);
  overflow-x: hidden;
}

.nav-link {
  transition: ease-in-out .2s all;
  color: rgb(128, 128, 128);
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(128, 128, 128);
  transform: translateY(-5px);
}

.jumbotron {
  padding: 0;
  margin-bottom: 0;
}

.header {
  position: sticky;
  width: 100%;
}

.header-item {
  font-size: 20px;
  white-space: nowrap;
}

.typewriter {
  background-color: rgb(32, 32, 32);
}

.typing-erase {
  width: 0;
  max-width: max-content;
  overflow: hidden;
  border-right: .05em solid #464545;
  white-space: nowrap;
  margin: 0;
  animation: 4s typing-erase 4s steps(50, end) infinite, blink-caret .5s step-end infinite;
}

@keyframes typing-erase {
  0% { width: 0 }
  80% { width: 100% }
  90%, 100% { width: 0 }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: gray }
}

.site-footer {
  background: linear-gradient(to bottom, rgb(32,32,32), rgb(46,46,46));
  padding: 20px 0;
  position: relative;
  bottom:0;
  width:100%;
  height: 200px;
  border-top:rgb(128, 128, 128) solid 2px;
  margin-top: 20px;
}

.link {
  color: rgb(219, 219, 219);
  cursor: pointer;
}

.link:hover {
  color: rgb(184, 184, 184);
  text-decoration: none;
}

.navbar-dark {
  background-color: rgb(32, 32, 32);
  border-top:rgb(128, 128, 128) 2px solid;
  border-bottom:rgb(128, 128, 128) 2px solid;
}

.pic {
  position: relative;
  display: block;
  border: 20px solid;
  border-color: rgb(128, 128, 128) rgb(32, 32, 32);
  max-width: 85%;
  height: auto;
}

.dark-bg {
  background-color:rgb(24, 24, 24);
}

.big-text {
  font-size: calc(40px + 4vh);
}

.home-text {
  background-color:rgba(128, 128, 128, 0.1);
  border: 20px solid;
  border-color: rgb(32, 32, 32) rgb(128, 128, 128);
}

.about-text {
  background-color:rgba(32, 32, 32, 0.1);
  border: 20px solid;
  border-color: rgb(32, 32, 32) rgb(128, 128, 128);
}

.no-wrap {
  white-space: nowrap;
}

.container-home {
  min-height: calc(100vh - 135px);
  display: flex;
  align-items: center;
}

.center-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-2 {
  min-height: calc(100vh - 74px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-3 {
  min-height: calc(100vh - 74px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-4 {
  min-height: calc(100vh - 74px);
}

.container-scroll {
  scroll-snap-type: y mandatory;
}

.child {
  scroll-snap-align: start;
  min-height: calc(100vh - 80px);
}

.work {
  display: inline-block;
  background-color:rgb(219, 219, 219);
  border-radius: 10px;
  padding: 10px;
  color: rgb(32, 32, 32);
  cursor: pointer;
}

.work:hover {
  color: inherit;
  text-decoration: inherit;
  background-color: rgb(184, 184, 184);
}

.btn-secondary {
  border-radius: 0;
  border: rgb(184, 184, 184) solid 1px;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: rgb(219, 219, 219) solid 1px;
  border-bottom: rgb(219, 219, 219) solid 1px;
}

textarea {
  resize: none;
}

.project-pic {
  height: 100%;
}

.cropper {
  max-height: 180px;
}

.overflow {
  overflow-y: scroll;
}

.card {
  background-color: rgb(32, 32, 32);
  border:rgb(128, 128, 128) solid 1px;
  transition: ease-in-out .2s all;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-20px);
}